<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geeker.love.dao.MessageMapper">
    <insert id="sendMessage" parameterType="com.geeker.love.pojo.MessageBean">
        insert into feedback(to_id,from_id,data,create_time) values (#{message.to_id},
        #{message.from_id},#{message.data},#{message.time})
    </insert>
    <select id="queryMessage" resultType="com.geeker.love.pojo.MessageBean">
        select * from feedback where from_id=#{from_id} and to_id=#{to_id} order by create_time
    </select>
</mapper>