<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geeker.love.dao.UserMapper">
    <select id="queryUserByUserId" resultType="com.geeker.love.pojo.User">
        select distinct *
        from user
        where id =  #{id}
    </select>

    <update id="updateUserInfo" parameterType="com.geeker.love.pojo.UserInfo">
        update userinfo
        set sex = #{uInfo.sex}, grade = #{uInfo.grade},
        language = #{uInfo.language}, school = #{uInfo.school},
        major = #{uInfo.major}
        where user_id = #{uInfo.user_id}
    </update>


    <insert id="initUserInfo">
        insert into userinfo(user_id)
        value (#{user_id})
    </insert>

    <select id="getUserInfo" resultType="com.geeker.love.pojo.UserInfo">
        select * from userinfo
        where user_id = #{user_id}
    </select>


    <select id="queryUserByPhone" resultType="com.geeker.love.pojo.User">
        select distinct * from user where phone = #{phone}
    </select>

    <insert id="insertUserByPhone" parameterType="com.geeker.love.pojo.User" statementType="PREPARED" keyProperty="id">
        insert into user(username, phone, status, create_time) value ('第一次登录', #{phone}, 1, #{create_time})
    </insert>

    <insert id="insertRegisterUser">
        insert into user(username, password, phone, status, create_time) value (#{nickname}, #{password}, #{phone}, 1, #{create_time})
    </insert>


    <update id="updatePassword" parameterType="com.geeker.love.pojo.User">
        update user set password=#{newPw} where id=#{uid}
    </update>

   <select id="getBlackListById" resultType="com.geeker.love.pojo.blacklist">
        select * from blacklist where black_id=#{bid} and user_id=#{uid}
   </select>

    <insert id="insertBlackList" parameterType="com.geeker.love.pojo.blacklist" statementType="PREPARED" keyProperty="id">
        insert into blacklist(black_id,user_id,create_time) values (#{bid},#{uid},unix_timestamp(now()))
    </insert>

    <delete id="deleteBlackList" parameterType="com.geeker.love.pojo.blacklist">
        delete from blacklist where black_id=#{bid} and user_id=#{uid}
    </delete>

    <update id="SaveResume">
        update user
        set resume = #{resume}
        where id = #{user_id}
    </update>


    <select id="queryIdByCreateTime" resultType="java.lang.Integer">
        select id from user
        where create_time = #{create_time}
    </select>

    <update id="updateUserImage">
        update user
        set userpic = #{url}
        where id = #{user_id}
    </update>

    <update id="updateUsername">
        update user
        set username = #{username}
        where id = #{user_id}
    </update>

    </mapper>